nav {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navLinkContainer {
    display: inline-flex;
}

.navTitle {
    font-weight: bold;
    font-size: 1.25rem;
    color: #191414;
    text-align: center;
    padding: 1em;
    border: 1px soild #503750;
    background-color: #fada9f;
    border-radius: 2em;
    margin: 1em;
}

.navLinkItems{
    list-style-type: none;
    display: inline-flex;
    padding: 1rem;
    text-decoration: none;
    color: #444141;
    border-radius: 5em;
}


