nav {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(111, 75, 207);
    padding: 1em;
    margin-bottom: 1em;
}

.navTitle {
font-weight: bold;
font-size: 1.25rem;
}

.navLinks {
font-size: 1.5rem;
text-decoration: none;
/* border: 1px solid orange; */

}

.navLinkItems{
list-style-type: none;
display: inline-flex;
padding: 1rem;
text-decoration: none;
color: white;
border: 1px solid rgb(200, 180, 236);
margin: 1rem;
border-radius: 5em;
background-color: rgb(111, 75, 207)
}

.navLinkContainer {
    display: inline-flex;
}

